<form [formGroup]="userForm"
(ngSubmit)="submitForm()">
    <div class="mb-3">
      <label for="contactEmail" class="form-label">Email address</label>
      <input type="email" class="form-control" id="contactEmail" aria-describedby="emailHelp" formControlName="contactEmail">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="contactName" class="form-label">Name</label>
        <input type="email" class="form-control" id="contactName" aria-describedby="emailHelp" formControlName="contactName">
      </div>
    <div class="mb-3">
      <label for="contactSubject" class="form-label">Subject</label>
      <input type="text" class="form-control" id="contactSubject"  formControlName="contactSubject">
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="contactMessage" style="height: 100px" formControlName="contactMessage"></textarea>
        <label for="contactMessage">Message</label>
    </div>
    <button type="submit" [disabled]="!userForm.valid">Submit</button>
  </form>
